.c-home{
    margin-top: 120px;
    background-color: #121210;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo{
        border-bottom: white solid 1px;   
        height: 90%;
    } 
    &__img{
        width: 100%;
        filter: invert(1);
    }
    &__scroll{
        position: absolute;
        color: rgb(206, 206, 206);
        top: 0;
        font-weight: bold;
        font-size: 14px;
    }
}