.gallery{
    height: 95vh;
position: relative;;
    padding-top: 5vh;
    &__div0{
        position: absolute;
    }
    &__div1{
        position: absolute;
        right: 0;

    }
    &__div2{
        position: absolute;
        bottom: 0;
        right: 15%;
        margin: auto;

    }
    &__div3{
        position: absolute;
        bottom: 10%;
        left: 25%;
        margin: auto;
    }
    &__div4{
        position: absolute;  
        bottom: 0;

    }
    &__div0>a{    
        display: flex;
    }
    &__div1>a{
        display: flex;
    }
    &__div2>a{
        display: flex;
        justify-content: flex-end;
    }
    &__div3>a{
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
    &__div4>a{
        display: flex;
        align-content: flex-end;
        justify-content: center;

    }
    &__div>a{
        height: 33.3vh;
        width: 33.3vw;
    }
}
